.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.product-card h2 {
  margin-top: 0;
}

.product-card p {
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  color: green;
}

button {
  display: grid;
  position: relative;
  align-items: end;
  background-color: green;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
